<form  [formGroup]="myform" (ngSubmit)="Submit(myform)" >
    <h3>Login</h3>
    <div class="form-row"> 
        <input type="text" required formControlName ="login" value="login">
    </div>

    <div class="form-row">
     <input type="text"  required formControlName="password" value="password">
     <br></div>
     <div class="form-row">
     <input type="submit" [disabled]="myform.invalid" class="btn"></div>
     <div *ngIf="myform.invalid" color="red"><h3 style="text-align:center;color: red;">Введите правильно данные!!!</h3>
        </div>
   
 </form>
 <h1>{{value}}</h1>
 <div>
    <div *ngIf="value == 1">
 <div *ngFor = "let item of users" (click)="Fix(item)">
    Name:{{item.name}}<br>
    Url: <a routerLink ="/app-users" >{{item.url}}</a>
 </div>
 </div>
 <div *ngIf="value == 0">
    <div *ngFor = "let item of users" (click)="Fix(item)">
       Name:{{item.name}}<br>
       Url: <a routerLink ="/app-users" >{{item.url}}</a>
       <button (click)="Delete(item.id)">Delete</button>
    </div>
    </div>
 </div>